<ul class="navbar-nav bg-sidebar sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center my-3" href="/home">
        <div class="sidebar-brand-icon ">
            <i class="fas fa-fw fa-users-cog"></i>
        </div>
        <div class="sidebar-brand-text mx-3 my-5">SPAR10</div>
    </a>
    <!-- Nav Item - Dashboard -->
    <!-- <li class="nav-item active">
        <a class="nav-link" href="index.php">
            <i class="fas fa-users fa-fw"></i>
            <span>Users</span></a>
    </li>
    <hr class="sidebar-divider my-0"> -->
    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
        <a class="nav-link" href="/dashboard">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>
    <!-- Divider -->

    <hr class="sidebar-divider">

    <li class="nav-item">
        <a class="nav-link" href="/system-extraction">
            <i class="fas fa-fw fa-edit"></i>
            <span>Text Extraction</span></a>
    </li>
    <!-- Divider -->

    <hr class="sidebar-divider">

    <li class="nav-item">
        <a class="nav-link" href="/system-classification">
            <i class="fas fa-fw fa-file-alt"></i>
            <span>Doc Classification</span></a>
    </li>
    <hr class="sidebar-divider d-none d-md-block"/>

    <!-- <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages3" aria-expanded="true"
            aria-controls="collapseUtilities">
            <i class="fas fa-fw fa-file-alt"></i>
            <span>Classification</span>
        </a>
        <div id="collapsePages3" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="">Document Classification</a>
                <a class="collapse-item" href="">Text Classification</a>
            </div>
        </div>
    </li>

    <hr class="sidebar-divider"> -->

    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages4" aria-expanded="true"
            aria-controls="collapseUtilities">
            <i class="fas fa-paste" aria-hidden="true"></i>
            <span>Summarization</span>
        </a>
        <div id="collapsePages4" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="/review-summarization">Reviews Summarization</a>
                <a class="collapse-item" href="/para-summarization">Paragraph Summarization</a>
            </div>
        </div>
    </li>

    <hr class="sidebar-divider">
    <li class="nav-item">
        <a class="nav-link" href="/system-redaction">
            <i class="fas fa-fw fa-eye-slash"></i>
            <span>Text Redaction</span></a>
    </li>

    <hr class="sidebar-divider d-none d-md-block mb-5">
    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
</ul>
<!-- End of Sidebar -->