<ul class="navbar-nav bg-sidebar sidebar fixed sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center my-3" href="/home">
        <div class="sidebar-brand-icon ">
            <i class="fas fa-fw fa-users-cog"></i>
        </div>
        <div class="sidebar-brand-text mx-3 my-5">SPAR10</div>
    </a>
    
    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
        <a class="nav-link" href="/dashboard">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>
    <!-- Divider -->

    <hr class="sidebar-divider">

    <li class="nav-item">
        <a class="nav-link" href="/system-extraction">
            <i class="fas fa-fw fa-edit"></i>
            <span>Text Extraction</span></a>
    </li>

    <hr class="sidebar-divider">

    <li class="nav-item">
        <a class="nav-link" href="/system-classification">
            <i class="fas fa-fw fa-file-alt"></i>
            <span>Doc Classification</span></a>
    </li>

    <hr class="sidebar-divider"/>

    <li class="nav-item">
        <a class="nav-link" href="/para-summarization">
            <i class="fas fa-fw fa-book"></i>
            <span>Text Summarization</span></a>
    </li>
    
    <hr class="sidebar-divider"/>
    
    <li class="nav-item">
        <a class="nav-link" href="/system-redaction">
            <i class="fas fa-fw fa-eye-slash"></i>
            <span>Text Redaction</span></a>
    </li>

    <hr class="sidebar-divider"/>

	<li class="nav-item">
        <a class="nav-link" href="/para-summarization_demo">
            <i class="fas fa-fw fa-address-book"></i>
            <span>Text Summarization Advanced models</span></a>
    </li>

    <hr class="sidebar-divider d-none d-md-block mb-5">

    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
</ul>
<!-- End of Sidebar -->