{% extends 'main2.html' %} {% block content %}

<!-- add the content here -->

<style>
    #ratioInput,
    #sentenceInput {
        display: none;
    }
</style>

<div class="container-fluid">

    <div class="row">
        <div class="col-md-12 grid-margin stretch-card mt-2">
            <div class="card shadow pt-1 pb-5">
                <div class="card-body">
                    <div class="col-12 mb-3">
                        <h4 class="font-weight-bold text-purple mb-5">Text Summarization:</h4>
                        {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                        {% for category,message in messages %}
                        {% if category == "success" %}
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        {% endif %}
                        {% if category == "error" %}
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        {% endif %}
                        {% endfor %}
                        {% endif %}
                        {% endwith %}
                        <form action="/para-summarization" enctype='multipart/form-data' method="POST"
                            name="parasum_form">
                            <div class="form-group">
                                <label for="file1">Upload the document/pdf containing the text: </label>
                                <input type="file" class="form-control-file" id="file1" name='file1'
                                    onchange="PreviewDoc();">
                            </div>
                            <div class="embedding">
                                <embed width="500" height="300" id="viewer" class="my-3 ">
                            </div>
                            <div class="form-group">
                                <label for="or">OR</label>
                            </div>
                            <div class="form-group">
                                <label for="paratext">Enter the paragraph to be summarized:</label>
                                <textarea class="form-control" id="paratext" name='paratext' rows="5"></textarea>
                            </div>
                            <div class="form-group d-flex align-items-center">
                                <div><label for="select">Select the option for summarizer transformer type:</label>
                                    <br>
                                    <small id="" class="form-text text-muted">Hover over the options for
                                        use-cases</small>
                                </div>

                                <select class="form-select ml-3" aria-label="select" name="model_type" id="model_type"
                                    size="7">
                                    <option value="Bert" id="Bert" selected>Bert</option>
                                    <option value="GPT2" id="GPT2">GPT2</option>
                                    <option value="XLM" id="XLM">XLM</option>
                                    <option value="BigBird" id="BigBird">BigBird</option>
                                    <option value="Roberta" id="Roberta">Roberta</option>
                                    <option value="XLNet" id="XLNet">XLNet</option>
                                    <option value="Albert" id="Albert">Albert</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="select">Choose the option for summarizing the text:</label>
                                <select class="form-select" aria-label="select" name="options" id="options">
                                    <option value="0" selected>Select an option</option>
                                    <option value="1">Ratio</option>
                                    <option value="2">No. of sentences</option>
                                </select>
                            </div>
                            <div class="form-group" id="opinput">
                                <div class="ratioInput" id="ratioInput">
                                    <label for="ratio">Enter the ratio:</label>
                                    <input type="number" class="form-control" step=0.1 name="ratio"
                                        placeholder="e.g. 0.3">
                                </div>
                                <div class="sentenceInput" id="sentenceInput">
                                    <label for="num_sent">Enter the no. of sentences:</label>
                                    <input type="number" class="form-control" name="num_sent" placeholder="e.g. 3">
                                </div>
                            </div>
                            <input type="submit" class="btn btn-purple" value="Upload" name="resum_submit"
                                id='submitbtn'>
                            <input type="reset" class="btn btn-purple" value="Cancel" name="resum_reset">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="loadingModal" role="dialog">
        <div class="modal-dialog modal-dialog-centered">
            <!-- Modal content-->
            <div class="modal-content" style='background-color: rgb(245, 245, 245);'>
                <div class="modal-header">
                    <!-- <button type="button" class="close" data-dismiss="modal">×</button> -->
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
                    <div>
                        <img src="../static/assets/loading.gif" class='img-responsive w-100' alt="loading gif">
                    </div>
                    <h3 class='text-center font-weight-bold'>Loading...</h3>
                </div>
                <div class="modal-footer">
                    <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
                </div>
            </div>

        </div>
    </div>
</div>
<script>

    $(document).ready(function () {
        $("select#options").change(function () {
            var selectedOption = $(this).children("option:selected").val();
            console.log("You have selected the option - " + selectedOption);

            if (selectedOption == 0) {
                $(".ratioInput").css('display', 'none');
                $(".sentenceInput").css('display', 'none');
            }

            //if selectedOption->1, toggle css display for ratioInput
            if (selectedOption == 1) {
                $(".ratioInput").css('display', 'block');
                $(".sentenceInput").css('display', 'none');
                // console.log("1 selected")
            }

            //if selectedOption->2, toggle css display for sentenceInput
            if (selectedOption == 2) {
                $(".sentenceInput").css('display', 'block');
                $(".ratioInput").css('display', 'none');
            }

        });
    });

    $(document).ready(function () {
        if (document.querySelector(".alert-danger") == null) {
            console.log("No danger alerts present")
            $("#submitbtn").click(function () {
                $("#loadingModal").modal({ backdrop: "static" });
            });
        }
    })

    $(document).ready(function () {
        $("#Bert").tooltip({
            title: "NLP tasks like NER, Sentence Segmentation, Part-Of-Speech tagging."
        });
        $("#GPT2").tooltip({
            title: "Text generation, Language translation, Building question-answering systems."
        });
        $("#XLM").tooltip({
            title: "Cross-lingual classification task (sentence entailment in 15 languages), Machine translation."
        });
        $("#BigBird").tooltip({
            title: "Genomics processing, Long Document Summarization \& Question Answering."
        });
        $("#Roberta").tooltip({
            title: "An optimized version of BERT that can improve the training procedure for multiple NLP tasks."
        });
        $("#XLNet").tooltip({
            title: " Sentiment classification, Language modeling."
        });
        $("#Albert").tooltip({
            title: "An upgraded version of Bert model which can be utilized for Masked Language model in training."
        });
    });


    function PreviewDoc() {
        const preview = document.querySelector('div.embedding embed');
        const file = document.querySelector('input[type=file]').files[0];
        const reader = new FileReader();

        reader.addEventListener("load", function () {
            // convert image file to base64 string
            preview.src = reader.result;
            preview.type = "application/pdf";
        }, false);

        if (file) {
            reader.readAsDataURL(file);
        }
    }

</script>
{% endblock %}