{% extends 'main2.html' %} {% block content %}
<style>
    .original-overflow {
        width: 100%;
        height: 350px;
        overflow-y: scroll;
        overflow-x: hidden;
    }
</style>
<div class="container-fluid">

    <div class="row">
        <div class="col-md-12 grid-margin stretch-card mt-2">
            <div class="card shadow pt-1 pb-5">
                <div class="card-body">
                    <div class="col-12 mb-3">
                        <h4 class="font-weight-bold text-purple mb-3">Document Classification:</h4>
                        <h6 class="mb-3">SPAR10 Document Classification feature classifies the uploaded image into the following categories: </h6>  
                        <div style="background-color:#f2f2f2;color:black;">
                         <ol>
                                <li style="padding-top:2rem !important;">ADVERTISEMENT</li>
				<li>EMAIL</li>
                                <li>FORM</li>
                                <li>LETTER</li>
                                <li>MEMO</li>
                                <li>NEWS ARTICLE</li>
                                <li>NOTE</li>
                                <li>REPORT</li>
                                <li>RESUME</li>
                                <li style="padding-bottom:2rem !important;">SCIENTIFIC PAPER</li>
                         </ol>
                         </div>
                        {% with messages = get_flashed_messages(with_categories=true) %} {% if messages %} {% for
                        category,message in messages %} {% if category == "success" %}
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div> 
                        {% endif %} {% if category == "error" %}
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        {% endif %} {% endfor %} {% endif %} {% endwith %}
                        <form action="/system-classification" enctype='multipart/form-data' method="POST"
                            name="class_form">
                            <div class="form-group">
                                <label for="file1">Upload the file for classification: </label>
                                <h6 style="color:red;">** Allowed file formats: jpg, jpeg, png</h6>
                                <input type="file" class="form-control-file" id="file1" name='file1' onchange="previewImage();">                              
                            </div>
                            <div class="embedding">
                                <image id="viewer" class="my-3">
                            </div>
                            <input type="submit" class="btn btn-purple" value="Upload" name="class_submit"
                                id='submitbtn'>
                            <input type="reset" class="btn btn-purple" value="Cancel" name="class_reset">
                        </form>
                        <strong><h3 class="pt-3 px-3">{{doc_category}}</h3></strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- LOADING MODAL  -->
<div class="modal fade" id="loadingModal" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <!-- Modal content-->
        <div class="modal-content" style='background-color: rgb(245, 245, 245);'>
            <div class="modal-header">
                <!-- <button type="button" class="close" data-dismiss="modal">×</button> -->
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <div>
                    <img src="../static/assets/loading.gif" class='img-responsive w-100' alt="loading gif">
                </div>
                <h3 class='text-center font-weight-bold'>Loading...</h3>
            </div>
            <div class="modal-footer">
                <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
            </div>
        </div>

    </div>
</div>
<!-- LOADING MODAL END  -->


<script type="text/javascript">

    $(document).ready(function () {
        if (document.querySelector(".alert-danger") == null) {
            console.log("No danger alerts present")
            $("#submitbtn").click(function () {
                $("#loadingModal").modal({ backdrop: "static" });
            });
        }
    })

    function PreviewDoc() {
        const preview = document.querySelector('div.embedding embed');
        const file = document.querySelector('input[type=file]').files[0];
        const reader = new FileReader();

        reader.addEventListener("load", function () {
            // convert image file to base64 string
            preview.src = reader.result;
            preview.type = "application/pdf";
        }, false);

        if (file) {
            reader.readAsDataURL(file);
        }
    }
   function previewImage() {
		var file = document.getElementById("file1").files;
		if (file[0]) {
			var fileReader = new FileReader();  
			fileReader.onload = function (event) {
				document.getElementById("viewer").setAttribute("src", event.target.result);
			}		

			fileReader.readAsDataURL(file[0]);
		}
	var element = document.getElementById("viewer");
        element.setAttribute('width', 450);
        element.setAttribute('height', 700);  
	}

</script>
{% endblock %}