{% extends 'main.html' %}
{% block content %}

<!-- add the content here -->
<div class='page-wrapper'>
  <div class='top-cont'>
    <div class="row align-items-center">
      <div class="col-lg-12">
        <h1 class="mb-40" style="color: white;">
          Contact Us
        </h1>
        <ol class="breadcrumb" style="background-color: transparent;">
          <li class="breadcrumb-item first-item">
            <a class="breadcrumb_link" href="/">Homepage</a>
          </li>
          <li class="breadcrumb-item first-item">
            <a class="breadcrumb_link" href="/contact-us">Contact Us</a>
          </li>
        </ol>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row" style="margin-bottom: 2rem;"> 
      <div class="col-md-6">
        <img src="../static/assets/contactus.png" width="100%" height="100%">        
      </div>
      <div class="col-md-6 signupForm" style="margin-top: 1rem;width: 100%;">
        <div class="signupForm-title text-center py-4 justify-content-center align-items-center">
            <h3>Please do contact us for any of your queries and we will get in touch with you.</h3>
        </div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{ messages[0] }}.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endif %}
        {% endwith %}
        <form method="POST" name="signupForm" action="/signup" autocomplete="off">
            <div class="form-group">
                <div class="input-group">
                    <span><i class="fa fa-user" style="font-size: 25px; margin-right: 1rem;"></i></span>
                    <input type="text" class="form-control " id="name" name="name" placeholder="Name">

                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span><i class="fa fa-envelope" style="font-size: 22px;  margin-right: 1rem;"></i></span>
                    <input type="email" class="form-control " id="email" name="email" placeholder="Email">
                </div>

            </div>
            <div class="form-group">
                <div class="input-group">
                    <span><i class="fa fa-book" style="font-size: 24px;  margin-right: 1rem;"></i></span>
                    <input type="text" class="form-control " id="subject" name="subject"
                        placeholder="Subject">

                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span><i class="fa fa-lock" style="font-size: 25px;  margin-right: 1rem;"></i></span>
                    
                    <textarea class="form-control rounded-0" id="message" name="message" rows="5" placeholder="Message"></textarea>

                </div>
            </div>
            <div class="form-group">
                <button type="submit" name="Submit" class="btn btn-block btn-primary gradient">SUBMIT</button>
            </div>
          </form>
            
        </div>
    </div>
  </div>

  {% include 'partials/footer1.html' %}

</div>


{% endblock %}