{% extends 'main.html' %}
{% block content %}

<!-- add the homepage content here -->

<!-- block 1 -->
<div class="index-b1">
    <div class="row row1">
        <div class="col-md-6 text-col-1">
            <div class="text-con">
                <h2 class="big">
                    Text, at your Service!
                </h2>
                <div class="textex">
                    Discover how Customized text analytics solutions from SPAR10 can leverage your
                    ‘organization-specific content’ to drive your business forward. Given the sea of content your
                    business generates, identify and process only text that is of interest to you – quickly,
                    accurately and efficiently.

                    Regardless of your business needs – operational agility, faster decisions, obtaining customer
                    insights or more, SPAR10 helps you take advantage of text to propel your business forward.
                </div>
            </div>
        </div>
        <div class="col-md-6 img-col">
            <img src="../static/assets/rocket.png" alt="" class="rocket">
            <img src="../static/assets/cloud-blue.png" alt="" class="bluecloud">
            <img src="../static/assets/cloud-pink.png" alt="" class="pinkcloud">
        </div>
    </div>

    <div class="container py-5 my-3">
        <div
            style=" color: #000;font-size: 2.5rem; font-weight: 900;font-family: Raleway, sans-serif;text-align: center;">
            Your text, Your choice</div>

        <div class="text-justify my-4" style="font-size: 1.2rem;">
            Given the sea of content your business generates, identify and process only text that is of interest to you
            – quickly, accurately and efficiently.Today's enterprises create large volumes and a variety of data in the
            form of digital documents, scanned images, emails, chat messages and responses, customer reviews, and so
            much more. All of which is only going to increase exponentially as they digitally expand. Among these large
            quantities of data generated, 80% is either semi-structured or unstructured and the varied range of document
            types and formats makes automation a challenge. For enterprises to analyze and derive insights from
            thousands of documents, it would require huge manual effort and would be time-consuming. SPAR10 is an
            intelligent AI-driven product that helps businesses automate the process of capturing and analyzing
            structured and unstructured text data through AI/ML.
            <br><br>
            Regardless of your business needs – operational agility, faster decisions, obtaining customer insights or
            more, SPAR10 – a Forbes recognised text analytics company helps you take advantage of text to propel your
            business forward.Every possible digital process in this computerized world generates tons of data that needs
            to be structured to make sense of and ultimately analyzed with a single large purpose of servicing the
            customer in a way better than before. One of the key aspects of digital transformation is the digitization
            of legacy documents and analytics on the text content. Irrespective of your company's performance, it is imperative to analyse all available data to stay
            competitive in the market.Using manual effort to derive these insights proves to be – time-consuming,
            requires a greater number of resources and proves to be very expensive. We aim at creating Spar10 to solve
            these business problems.
        </div>

    </div>

    <div class="row2-ind">
        <div class="container">
            <div class="row py-5">
                <div class="col-md-6">
                    <img src="../static/assets/ind-extraction1.png" alt="" class="row2-extraction img-responsive">
                </div>
                <div class="col-md-6 align-self-center">
                    <h2 style="color: #0098d7;font-weight: 800;">
                        Text Extraction
                    </h2>
                    <h3>
                        Don’t let the text elude you
                    </h3>
                    <img src="../static/assets/step1.png" alt="1"
                        style="height: auto; max-width: 100%; vertical-align: top; padding-bottom: 20px;">
                    <p class="text-justify " style="color: #0098d7;">
                        Does Off-the-shelf text analytics software fail to extract the information that is needed for
                        your growth?
                    </p>
                    <p class="text-justify " style="color: white;">SPAR10’s powerful customizable preprocessor
                        engine identifies and
                        extracts objects of your
                        interest in the nooks and crannies of your organization’s mails, text messages, tables, website,
                        social media, archives or any documents of your choice.</p>
                    <a href="/text-extraction" class="btn px-3" style='background-color:#0098d7;color: #fff;'>
                        See More
                    </a>
                </div>
            </div>

            <div class="row pb-5">
                <div class="col-md-6 align-self-center">
                    <h2 style='color:#75b843; font-weight:800;'>
                        Text Classification & Summarization
                    </h2>
                    <h3>
                        Add context to your text
                    </h3>
                    <img src="../static/assets/step2.png" alt="1"
                        style="height: auto; max-width: 100%; vertical-align: top; padding-bottom: 20px;">
                    <p class="text-justify " style='color:#75b843;'>
                        When words by themselves have no meanings, how does your business teams make sense of the
                        extracted text?
                    </p>
                    <p class="text-justify " style="color: white;">SPAR10‘s intelligent customizable linguistic
                        application identifies
                        text genre, groups
                        similar content and creates concise summaries, so that your business teams can obtain the right
                        context from the right text.</p>
                    <a href="/text-classification" class="btn px-3" style='background-color:#75b843;color: #fff;'>
                        See More
                    </a>
                </div>
                <div class="col-md-6 align-items-center text-center">
                    <img src="../static/assets/ind-classification1.png" alt=""
                        class="row3-classification img-responsive">
                </div>
            </div>

            <div class="row pb-5">
                <div class="col-md-6">
                    <img src="../static/assets/ind-analytics1.png" alt="" class="row2-extraction img-responsive">
                </div>
                <div class="col-md-6 align-self-center">
                    <h2 style="color: #c14989; font-weight: 800;">
                        Text Analytics
                    </h2>
                    <h3>
                        Convert text to topline growth
                    </h3>
                    <img src="../static/assets/step3.png" alt="1"
                        style="height: auto; max-width: 100%; vertical-align: top; padding-bottom: 20px;">
                    <p class="text-justify " style="color: #c14989;">
                        Does the insights for making business decisions still elude you?
                    </p>
                    <p class="text-justify" style="color: white;">The easy-to-use text analytics software extracts the
                        essence of your text
                        and simplifies the
                        decision making process. Now identify opportunities to serve your customers better with SPAR10.
                        It’s ‘Advantage Text’!</p>
                    <a href="/text-classification" class="btn px-3" style='background-color:#c14989;color: #fff;'>
                        See More
                    </a>
                </div>
            </div>

            <div class="row pb-5">
                <div class="col-md-6 align-self-center">
                    <h2 style="color: #0098d7;font-weight: 800;">
                        Text Redaction
                    </h2>
                    <h3>
                        Mask your sensitive information
                    </h3>
                    <img src="../static/assets/step4.png" alt="1"
                        style="height: auto; max-width: 100%; vertical-align: top; padding-bottom: 20px;">
                    <p class="text-justify " style="color: #0098d7;">
                        With Data privacy being the need of the hour how do you plan on hiding sensitive information in
                        your business?
                    </p>
                    <p class="text-justify " style="color: white;">SPAR10 can automatically redact sensitive
                        information be it PII, PCI or
                        PHI quickly and
                        accurately.</p>
                    <a href="/text-redaction" class="btn px-3" style='background-color:#0098d7;color: #fff;'>
                        See More
                    </a>
                </div>
                <div class="col-md-6 align-items-center text-center">
                    <img src="../static/assets/ind-redaction1.png" alt="" class="row2-classification img-responsive">
                </div>
            </div>

        </div>
    </div>

    <div class="row3-ind py-5">
        <h1 class="text-center">
            If you see yourself here, let’s get started!
        </h1>

        <div class="container py-5">
            <div class="row pt-5 no-gutters text-center">
                <div class="col-md-4">
                    <i style="font-size:45px; color: #178ec5;  " class="fas fa-users"></i>
                    <div style="font-size:1.5rem ;color: #000;font-weight: 800;padding-top: 25px;">Transformation Leader
                    </div>
                </div>
                <div class="col-md-4">
                    <i style="font-size:45px; color: #70ad44;  " class="fas fa-users"></i>
                    <div style="font-size:1.5rem ;color: #000;font-weight: 800;padding-top: 25px;">Data Scientist</div>
                </div>
                <div class="col-md-4">
                    <i style="font-size:45px; color: #c14989;  " class="fas fa-users"></i>
                    <div style="font-size:1.5rem ;color: #000;font-weight: 800;padding-top: 25px;">Influencer/ Manager
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <h4 class="mt-5" style="color: #000;">
                SPAR10 can help you with...
            </h4>
            <div class="row no-gutters mt-5 justify-content-center">
                <div class="col-md-4" style="color: #178ec5;">
                    <ul class="list-unstyled">
                        <li>Financial Trading</li>
                        <li>Credit Worthiness assessment</li>
                        <li>Business Intelligence</li>
                        <li>Process Automation</li>
                        <li>Operational Efficiency</li>
                        <li>Customer Experience</li>
                    </ul>
                </div>
                <div class="col-md-4" style="color: #70ad44;">
                    <ul class="list-unstyled">
                        <li>Text Language Identification</li>
                        <li>Text Classification</li>
                        <li>Data Analysis</li>
                        <li>Conversational User Interface</li>
                        <li>Automatic responses</li>
                        <li>Data Structuring & Processing</li>
                        <li>Text Extraction</li>
                    </ul>
                </div>
                <div class="col-md-4" style="color: #c14989;">
                    <ul class="list-unstyled">
                        <li>Audience Analysis</li>
                        <li>Sentiment Analysis</li>
                        <li>Campaign Management</li>
                        <li>Recruitment & Selection</li>
                        <li>Revenue Analysis</li>
                        <li>Product Categorization</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {% include 'partials/footer1.html' %}
</div>
<!-- end block 1 -->



{% endblock %}