{% extends 'main.html' %}
{% block content %}

<!-- add the homepage content here -->

<!-- block 1 -->
<div class="index-b1">
    <div class="row">
        <div class="col-md-6 text-col-1">
            <div class="text-con">
                <h2 class="big">
                    Text, at your Service!
                </h2>
                <div class="textex">
                    Discover how Customized text analytics solutions from SPAR10 can leverage your
                    ‘organization-specific content’ to drive your business forward. Given the sea of content your
                    business generates, identify and process only text that is of interest to you – quickly,
                    accurately and efficiently.

                    Regardless of your business needs – operational agility, faster decisions, obtaining customer
                    insights or more, SPAR10 helps you take advantage of text to propel your business forward.
                </div>
            </div>
        </div>
        <div class="col-md-6 img-col">
            <img src="../static/assets/rocket.png" alt="" class="rocket">
            <img src="../static/assets/cloud-blue.png" alt="" class="bluecloud">
            <img src="../static/assets/cloud-pink.png" alt="" class="pinkcloud">
        </div>
    </div>

</div>
<!-- end block 1 -->


{% endblock %}