<!-- has navbar and footer ---- common layout for all the pages -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SPAR10</title>

    <link href="{{ url_for('static', filename='stylesheets/vendor/fontawesome-free/css/all.min.css') }}"
        rel="stylesheet" type="text/css">

    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- bootstrap -->
    <link href="{{ url_for('static', filename='stylesheets/vendor/css/sb-admin-2.min.css') }}" rel="stylesheet">

    <link href="{{ url_for('static', filename='stylesheets/vendor/css/index.css') }}" rel="stylesheet">

    <!-- ADD ALL THE CSS FILES FOR SEPARATE PAGES HERE -->
    <!-- <link rel="stylesheet" href="vendor/css/login.css" type="text/css">  -->

    <!-- Custom fonts for this page -->
    <link href="{{ url_for('static', filename='stylesheets/vendor/css/fonts.css') }}" rel="stylesheet">

    <!-- Raleway  font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap" rel="stylesheet">
    <!-- Raleway end -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>

<body>

    <!-- navbar begin -->
    <div class="topbar">
        <nav class="navbar navbar-expand-md homenav">
            <a class="navbar-brand pl-5 ml-5" href="/">Spar-10</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item ">
                        <a class="nav-link" href="/about-us">About</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            Product
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="/overview">Overview</a>
                            <a class="dropdown-item" href="/text-extraction">Extraction</a>
                            <a class="dropdown-item" href="/text-classification">Classification</a>
                            <a class="dropdown-item" href="/text-summarization">Summarization</a>
                            <a class="dropdown-item" href="/text-redaction">Redaction</a>
                        </div>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/faqs">FAQs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact-us">Contact</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto pr-5 mr-5">
                    <li class="nav-item">
                        <a class="nav-link" href="/signup">Signup</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <!-- navbar end -->

    <!-- body begin -->
    <div style="min-height: 100vh;">
        {% block content %}

        {% endblock %}
    </div>

    <!-- body end -->

</body>

<script src="{{ url_for('static', filename='stylesheets/vendor/jquery/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='stylesheets/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

<!-- Core plugin JavaScript-->
<script src="{{ url_for('static', filename='stylesheets/vendor/jquery-easing/jquery.easing.min.js') }}"></script>

<!-- Custom scripts for all pages-->
<script src="{{ url_for('static', filename='stylesheets/vendor/js/sb-admin-2.js') }}"></script>
<script src="{{ url_for('static', filename='stylesheets/vendor/js/scripts.js') }}"></script>


</html>