{% extends 'main.html' %}
{% block content %}

<link rel="stylesheet" href="../static/stylesheets/vendor/css/overview.css">
<!-- add the content here -->
<div class='page-wrapper'>
    <div class='top-cont'>
        <div class="row align-items-center">
            <div class="col-lg-12">
                <h1 class="mb-40 header">
                    Overview
                </h1>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item first-item">
                        <a class="breadcrumb_link" href="/">Homepage</a>
                    </li>
                    <li class="breadcrumb-item first-item">
                        <a class="breadcrumb_link" href="/overview">Overview</a>
                    </li>
                </ol>
            </div>
        </div>
    </div>

    <div class='sec-ext1'>
        <div class="row ">
            <div class="col-md-4">
                <div class="info-box">
                    
                    <img src="../static/assets/overview-banner.png" class="img-responsive">
                    
                </div>
            </div>
        </div>            

    </div>

    <div class="container py-5 my-3">
        <div
            style=" color: #000;font-size: 2.5rem; font-weight: 900;font-family: Raleway, sans-serif;text-align: center;">
            Text analytics product from the pioneer</div>

        <div class="text-justify my-4" style="font-size: 1.1rem;">
            SPAR10 helps you to produce structured data, metadata & insights by extracting data, analyzing and summarizing text, and classifying content. Our text analytics solutions can provide the best insights from your text data.
        </div>

    </div>

<div class="row2-ind">
    <div class="container">
        <div class="row py-5">
            <div class="col-md-6">
                <img src="../static/assets/ind-extraction1.png" alt="" class="row2-extraction img-responsive">
            </div>
            <div class="col-md-6 align-self-center">
                <h2 style="color: #0098d7;font-weight: 800;">
                    Text Extraction
                </h2>
                <h3>
                    Don’t let the text elude you
                </h3>
                <img src="../static/assets/step1.png" alt="1"
                    style="height: auto; max-width: 100%; vertical-align: top; padding-bottom: 20px;">
                <p class="text-justify " style="color: #0098d7;">
                    Does Off-the-shelf text analytics software fail to extract the information that is needed for
                    your growth?
                </p>
                <p class="text-justify " style="color: white;">SPAR10’s powerful customizable preprocessor
                    engine identifies and
                    extracts objects of your
                    interest in the nooks and crannies of your organization’s mails, text messages, tables, website,
                    social media, archives or any documents of your choice.</p>
                <a href="/text-extraction" class="btn px-3" style='background-color:#0098d7;color: #fff;'>
                    See More
                </a>
            </div>
        </div>

        <div class="row pb-5">
            <div class="col-md-6 align-self-center">
                <h2 style='color:#75b843; font-weight:800;'>
                    Text Classification & Summarization
                </h2>
                <h3>
                    Add context to your text
                </h3>
                <img src="../static/assets/step2.png" alt="1"
                    style="height: auto; max-width: 100%; vertical-align: top; padding-bottom: 20px;">
                <p class="text-justify " style='color:#75b843;'>
                    When words by themselves have no meanings, how does your business teams make sense of the
                    extracted text?
                </p>
                <p class="text-justify " style="color: white;">SPAR10‘s intelligent customizable linguistic
                    application identifies
                    text genre, groups
                    similar content and creates concise summaries, so that your business teams can obtain the right
                    context from the right text.</p>
                <a href="/text-classification" class="btn px-3" style='background-color:#75b843;color: #fff;'>
                    See More
                </a>
            </div>
            <div class="col-md-6 align-items-center text-center">
                <img src="../static/assets/ind-classification1.png" alt=""
                    class="row3-classification img-responsive">
            </div>
        </div>

        <div class="row pb-5">
            <div class="col-md-6">
                <img src="../static/assets/ind-analytics1.png" alt="" class="row2-extraction img-responsive">
            </div>
            <div class="col-md-6 align-self-center">
                <h2 style="color: #c14989; font-weight: 800;">
                    Text Analytics
                </h2>
                <h3>
                    Convert text to topline growth
                </h3>
                <img src="../static/assets/step3.png" alt="1"
                    style="height: auto; max-width: 100%; vertical-align: top; padding-bottom: 20px;">
                <p class="text-justify " style="color: #c14989;">
                    Does the insights for making business decisions still elude you?
                </p>
                <p class="text-justify" style="color: white;">The easy-to-use text analytics software extracts the
                    essence of your text
                    and simplifies the
                    decision making process. Now identify opportunities to serve your customers better with SPAR10.
                    It’s ‘Advantage Text’!</p>
                <a href="/text-classification" class="btn px-3" style='background-color:#c14989;color: #fff;'>
                    See More
                </a>
            </div>
        </div>

        <div class="row pb-5">
            <div class="col-md-6 align-self-center">
                <h2 style="color: #0098d7;font-weight: 800;">
                    Text Redaction
                </h2>
                <h3>
                    Mask your sensitive information
                </h3>
                <img src="../static/assets/step4.png" alt="1"
                    style="height: auto; max-width: 100%; vertical-align: top; padding-bottom: 20px;">
                <p class="text-justify " style="color: #0098d7;">
                    With Data privacy being the need of the hour how do you plan on hiding sensitive information in
                    your business?
                </p>
                <p class="text-justify " style="color: white;">SPAR10 can automatically redact sensitive
                    information be it PII, PCI or
                    PHI quickly and
                    accurately.</p>
                <a href="/text-redaction" class="btn px-3" style='background-color:#0098d7;color: #fff;'>
                    See More
                </a>
            </div>
            <div class="col-md-6 align-items-center text-center">
                <img src="../static/assets/ind-redaction1.png" alt="" class="row2-classification img-responsive">
            </div>
        </div>

    </div>
    {% include 'partials/footer1.html' %}
</div>
{% endblock %}