{% extends 'main2.html' %}
{% block content %}

<!-- add the content here -->
<div class="container-fluid">

    <!--  Success message on form changes
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div> -->

    <div class="row">
        <div class="col-md-12 grid-margin stretch-card mt-2">
            <div class="card shadow pt-1 pb-5">
                <div class="card-body">
                    <div class="col-12 mb-3">
                        <h4 class="font-weight-bold text-purple mb-5">Profile</h4>
                        <!-- {{user}} -->
                        {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            {% for category,message in messages %}
                                {% if category == "success" %}
                                <div class="alert alert-success alert-dismissible fade show" role="alert">
                                    {{ message }}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                {% endif %}
                                {% if category == "error" %}
                                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                    {{ message }}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        {% endwith %}
                        <form action="/profile" method="POST" name="profile_form">
                            <div class="form-group">
                                <label for="blockno" class="font-weight-bold">Name:</label>
                                <input type="text" class="form-control" name="name" id="name" value="{{user.name}}">
                            </div>
                            <div class="form-group">
                                <label for="flatno" class="font-weight-bold">Email ID:</label>
                                <input type="text" class="form-control" name="email" id="email" value="{{user.email}}">
                            </div>
                            <div class="form-group">
                                <label for="name" class="font-weight-bold">Contact Number:</label>
                                <input type="text" class="form-control" name="contact" value="{{user.contact}}"
                                    id="contact">
                            </div>
                            
                            <input type="submit" class="btn btn-purple" value="Update" name="profile_submit">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}