{% extends 'main.html' %}
{% block content %}
<link rel="stylesheet" href="../static/stylesheets/vendor/css/signup.css">


<div class="container form-outer-div">
    <div class="row">
        <div class="col-md-6 signupForm-img">
            <img src="../static/assets/signup.png" class="img-responsive">
        </div>
        <div class="col-md-6 signupForm">
            <div class="signupForm-title text-center py-4 justify-content-center align-items-center">
                <h2>Sign Up</h2>
            </div>
            <form method="POST" name=signupForm action="" autocomplete="off">
                <div class="form-group">
                    <div class="input-group">
                        <span><i class="fa fa-user" style="font-size: 24px;"></i></span>
                        <input type="text" class="form-control " id="name" name="name" placeholder="Name">

                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span><i class="fa fa-envelope" style="font-size: 19px;"></i></span>
                        <input type="email" class="form-control " id="email" name="email" placeholder="Email">
                    </div>

                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span><i class="fa fa-phone" style="font-size: 23px;"></i></span>
                        <input type="tel" class="form-control " id="contactno" name="contactno"
                            placeholder="Contact no">

                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span><i class="fa fa-lock" style="font-size: 25px;"></i></span>
                        <input type="password" class="form-control " id="password" name="password"
                            placeholder="Password">

                    </div>
                </div>
                <div class="form-check form-group">
                    <input class="form-check-input" type="checkbox" name='tnc' required>
                    <label class="form-check-label">I agree to terms and conditions.</label>
                </div>
                <div class="form-group">
                    <button type="submit" name="Submit" class="btn btn-block btn-primary gradient">SIGN UP</button>
                </div>
            </form>
            <div class="form-group text-center">
                Already have an account? <a href="/login">Login</a>
            </div>
        </div>


    </div>
</div>
{% endblock %}