{% extends 'main2.html' %}
{% block content %}

<!-- add the content here -->
<div class="container-fluid">

    <div class="row">
        <div class="col-md-12 grid-margin stretch-card mt-2">
            <div class="card shadow pt-1 pb-5">
                <div class="card-body">
                    <div class="col-12 mb-3">
                        <h4 class="font-weight-bold text-purple mb-5">Document Redaction:</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}