{% extends 'main.html' %}
{% block content %}
<link rel="stylesheet" href="../static/stylesheets/vendor/css/text-extraction.css">

<!-- add the content here -->
<div class='page-wrapper'>
    <div class='top-cont'>
        <div class="row align-items-center">
            <div class="col-lg-12">
                <h1 class="mb-40 header">
                    Text Classification
                </h1>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item first-item">
                        <a class="breadcrumb_link" href="/">Homepage</a>
                    </li>
                    <li class="breadcrumb-item first-item">
                        <a class="breadcrumb_link" href="/text-classification">Text Classification</a>
                    </li>
                </ol>
            </div>
        </div>
    </div>

    <div class='wrap-ext1'>
        <div class="row">
            <div class="col-md-4 px-4 py-4">
                <h1>

                </h1>
                <h5 style="font-weight: 100;">
                    Our text classification tool is a multialgo-ML classification engine 
                    customised for providing two main use cases namely, Document classification 
                    and even Product Classification. Load your labelled training data, 
                    our engine learns using the ensemble ML models and chooses the best model 
                    to fit the best-suited label. SPAR10 will help you in 
                    configuring the initial setup and retune the models.
                </h5>
                <h1>

                </h1>
            </div>
            <div class="col-md-8 align-self-center">
                <img src="../static/assets/classify-1.png" class="img-responsive">
            </div>
        </div>
    </div>

    <div class="wrap-ext2 my-5">
        <div class="container text-center">
            <h2 class="mb-2" style="color: black;font-weight: 900;font-size: 2.5rem;">Tech Stack</h2>
            <h4 class="my-5" style="color: black;font-weight: 300;">The various Python libraries used for
              classification of structured and unstructured data.</h4>
            <div class="row ">
                <div class="col-md-6">
                    <div class="info-box">
                        <h3>Text Classification</h3>
                        <img src="../static/assets/text.png" class="img-responsive">
                        <h5><span class="yellowish">Library Used: </span>Tensorflow, Keras, SpaCy, scikit-learn, NumPy, Pandas, NLTK, H5py
                        </h5>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="info-box">
                        <h3>Document Classification</h3>
                        <img src="../static/assets/pdf.png" class="img-responsive">
                        <h5><span class="yellowish">Library Used: </span>Tensorflow, Keras scikit-learn, NumPy, Pandas, Pickle, Matplotlib, H5py </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="wrap-ext3 py-5">
        <div class="row no-gutters">
            <div class="col-md-6">
                <div class="data">
                    <h2 class="pb-3">
                        In a Nutshell
                    </h2>
                    <h5 class="pb-5 wrap-tex3">
                        All you need to do with our text categorization software is to 
                        assign a category to each document 
                        (letter, form, email, handwritten, advertisement, scientific report,
                        scientific publication, specification, file folder, news article
                        budget, invoice, presentation, questionnaire, resume, memo). 
                        It is also capable of working  as a text categorization tool 
                        to categorize the data into sub-categories.
                    </h5>
                </div>
                <div class="data">
                    <h2 class="pb-3">Functions (Use Cases)</h2>
                    <ul>
                        <li>Product categorization/classification for an E-commerce business</li>
                        <li>Identify & recognize the different types of documents and automatically despatch to respective departments for any business.</li>
                        <li>Automatic extraction, validation and redirection to respective departments of business emails.</li>
                        <li>Redaction of sensitive information extracted from documents such as Bank statements, EHRs,
                            Invoices, KYC, Emails, Legal documents, Research papers, and more.</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 text-center align-self-center">
                <img src="../static/assets/ind-classification1.png" class="img-responsive">
            </div>
            <!-- <div class="col-12">
                <h2>Features</h2>
            </div> -->
        </div>
        <div class="container ext3-con1">
            <div class="row mt-5 text-center no-gutters">
                <div class="col-md-4">
                    <img src="../static/assets/ext-s1.png" class="img-responsive" alt="">
                    <h5>Ready-made pre-processing and training pipeline for any kind of labelled text data.</h5>
                </div>
                <div class="col-md-4">
                    <img src="../static/assets/ext-s2.png" class="img-responsive" alt="">
                    <h5>Multiple categories supported for classification.</h5>
                </div>
                <div class="col-md-4">
                    <img src="../static/assets/ext-s3.png" class="img-responsive" alt="">
                    <h5>Support a variety of languages, including English, Thai, Japanese, Arabic, Mandarin, German, and
                        all
                        Latin languages</h5>
                </div>
            </div>
        </div>

    </div>


    {% include 'partials/footer1.html' %}

</div>



{% endblock %}