{% extends 'main.html' %}
{% block content %}
<link rel="stylesheet" href="../static/stylesheets/vendor/css/text-summarisation.css">

<!-- add the content here -->
<div class='page-wrapper'>
    <div class='top-cont'>
        <div class="row align-items-center">
            <div class="col-lg-12">
                <h1 class="mb-40 header">
                    Text Summarisation
                </h1>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item first-item">
                        <a class="breadcrumb_link" href="/">Homepage</a>
                    </li>
                    <li class="breadcrumb-item first-item">
                        <a class="breadcrumb_link" href="/text-summarisation">Text Summarisation</a>
                    </li>
                </ol>
            </div>
        </div>
    </div>

    <div class='wrap-ext1'>

        <div class="container">
            <img src="../static/assets/Summarize-Top-Banner.png" class="img-responsive">
        </div>
    </div>

    <div class="wrap-ext2 my-5">
        <div class="container text-center">
            <h2 class="mb-2" style="color: black;font-weight: 900;font-size: 2.5rem;">Tech Stack</h2>
            <h4 class="my-5" style="color: black;font-weight: 300;">Text analytics using Python libraries are used for
                Summarization and structuring.</h4>
            <div class="row ">
                <div class="col-md-6 px-4">
                    <div class="info-box">
                        <h3>Key Phrase Extraction</h3>
                        <img src="../static/assets/pdf.png" class="img-responsive">
                        <h5 class="px-5"><span class="yellowish">Python Library:</span> NLTK, re, scikit-learn,
                            Pycrfsuite, Keras
                            <br><span class="bluish">Algorithm:</span> Dependency Parsing, POS based Grammar
                            <br>Chunking, TF-IDF
                        </h5>
                    </div>
                </div>
                <div class="col-md-6 px-4">
                    <div class="info-box">
                        <h3>Topic Modeling</h3>
                        <img src="../static/assets/pdf.png" class="img-responsive">
                        <h5 class="px-5"><span class="yellowish">Python Library: </span>scikit-learn
                            <br><span class="bluish">Algorithm: </span>Non-Negative Matrix Factorization
                        </h5>
                    </div>
                </div>
            </div>
            <div class="row py-4">
                <div class="col-md-6 px-4">
                    <div class="info-box">
                        <h3>Knowledge Graph</h3>
                        <img src="../static/assets/pdf.png" class="img-responsive">
                        <h5 class="px-5"><span class="yellowish">Python Library:</span>NetworkX, spaCy
                            <br><span class="bluish">Algorithm:</span>Dependency Parsing, Network Analysis
                        </h5>
                    </div>
                </div>
                <div class="col-md-6 px-4">
                    <div class="info-box">
                        <h3>Tagging /<br> Entity Recognition</h3>
                        <img src="../static/assets/pdf.png" class="img-responsive">
                        <h5 class="px-5"><span class="yellowish">Python Library:</span>Pycrfsuite, Tensorflow, Keras
                            <span class="bluish">Algorithm:</span>Conditional Random Field, LSTM
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="wrap-ext3 py-5">
        <div class="row no-gutters">
            <div class="col-md-6">
                <div class="data">
                    <h2 class="pb-3">
                        In a Nutshell
                    </h2>
                    <h5 class="pb-5 wrap-tex3">
                        Get a bite-sized summary of huge TL; DR documents (invoices, bank statements, investor reports,
                        books, articles, journals, reviews, tweets, comments, legislation). Our text summarization
                        software can analyse local sentiments and global sentiments of our text data.
                    </h5>
                </div>
                <div class="data">
                    <h2 class="pb-3">Functions (Use Cases)</h2>
                    <ul>
                        <li>Analyse Voice of Customers to analyse Pain points from reviews from App store, Surveys or
                            Social media platforms.</li>
                        <li>Identify sentiment and tone of customer to enhance Customer experience.</li>
                        <li>Identify and extract hidden topics from raw text.</li>
                        <li>Extract batch number, issue date, email ID, org name etc., irrespective of their position.
                        </li>
                        <li>Redact confidential information in summaries generated of long TL:DR documents across
                            industries such as legal, finance, healthcare, insurance and more.</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 text-center align-self-center">
                <img src="../static/assets/ind-analytics1.png" class="img-responsive">
            </div>
            <!-- <div class="col-12">
                <h2>Features</h2>
            </div> -->
        </div>
        <div class="container ext3-con1">
            <div class="row mt-5 text-center no-gutters">
                <div class="col-md-4">
                    <img src="../static/assets/sum-s1.png" class="img-responsive" alt="">
                    <h5>No manual keywords or topics entry to be extracted</h5>
                </div>
                <div class="col-md-4">
                    <img src="../static/assets/sum-s2.png" class="img-responsive" alt="">
                    <h5>Customise the extracted output to a XLSX, CSV, JSON, XML file or write to a database</h5>
                </div>
                <div class="col-md-4">
                    <img src="../static/assets/sum-s3.png" class="img-responsive" alt="">
                    <h5>Understand Local sentiment rather than global sentiment from specific product / service reviews
                    </h5>
                </div>
            </div>
        </div>

    </div>


    {% include 'partials/footer1.html' %}

</div>


{% endblock %}