{% extends 'main.html' %}
{% block content %}
<link rel="stylesheet" href="../static/stylesheets/vendor/css/redact-input.css">

<!-- add the content here -->


<div class = "container outerdiv">
    <br>
    <center>
    <h1>SPAR10 Text Redaction</h1>
    <h6>Hide or remove sensitive and confidential information</h6>
    </center>
    
                <div class="col-md-12 redaction">
            
                    <h4 style="color:black;"><img src="../static/assets/file-redaction.png" class="img-responsive"> Upload input file</h4>
            
        <br>
            <form action="">
    
            <div class="file">
              <input type="file" id="myfile" name="myfile"><br><br>
            </div>
        <br>
                <input type="submit" name="Redact" value="Redact" class="btn btn-block btn-primary buttonstyle"></button>
            <input type="submit" name="Cancel" value="Cancel" class="btn btn-block btn-primary buttonstyle"></button>
            </form>
                
        <br>
    
                </div>
        <br>
        </div>
    <br>

{% include 'partials/footer1.html' %}




{% endblock %}